body{
    margin: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 70px;
}
p{
    font-size: 20px;
}
header{
    margin-left: 0%;
    margin-top: 0px;
    width: 100%;
    position: fixed;
    background-color: cornflowerblue;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
#title{
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 2%;

}
#subtitle{
    width: fit-content;
    margin: auto;
    margin-top: 1%;
}
main{
    display: flex;
    width: 100%;
    height: 80vh;
    padding-top: 200px;
    border: 2px solid black;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#quizContent{
    width: 50%;
    height: 70%;
    border: 2px solid black;
    margin: 4%;
}
#timerContent{
    margin: 4%;
    width: 30%;
    height: 50%;
    border: 2px solid black;
    font-size: 200px;
    text-align: center;
}
.break{
    flex-basis: 100%;
    height: 0%;
}
#start{
    margin-left: auto;
    margin-right: 5%;
    margin-top: -15%;
    width: 30%;
    height: 10%;
}
.invisible{
    display: none;
}
#submitQuiz{
    margin-right: auto;
    margin-left: 15%;
    margin-top: -15%;
    width: 30%;
    height: 10%;
}
.slide{
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .activeSlide{
    opacity: 1;
    z-index: 2;
  }